python -m venv .venv

source .venv/Scripts/activate

pip install numpy pandas matplotlib seaborn 

pip install chardet fredapi beautifulsoup4 plotly praw scrapy pyarrow openpyxl 

pip install python-dotenv fastapi uvicorn sqlmodel SQLAlchemy psycopg2 strawberry-graphql[fastapi]

pip install sqlmodel asyncpg